body {
    background-color: #232323;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 5fr;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

#header {
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(115, 255, 0);
}

h1 {
    background-color: transparent;
}

#banner {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    background-color: white;
    height: 30px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: rgb(115, 255, 0);
    font-weight: 800;
    letter-spacing: 1px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px auto 10px auto;
    grid-gap: 15px;
}


.square {
    background: white;
    min-height: 120px;
    min-width: 120px;
    border-radius: 15px;
    transition: background-color 0.6s;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
}

.selected {
    color: white;
    background-color: rgb(115, 255, 0);
}

button {
    font-family: 'Open Sans', sans-serif;
    border: none;
    background: none;
    color: rgb(115, 255, 0);
    padding: 6px 8px;
    text-transform: uppercase; 
    font-weight: 800;
    letter-spacing: 1px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

button:hover {
    background-color: rgb(115, 255, 0);
    color: white;
}

#colorDisplay {
    font-size: 1.75em;
}