body {
    background-color: #232323;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 6fr;
    margin: 0;
    padding: 0;
}

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

#header {
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
}

h1 {
    background-color: transparent;
}

#banner {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    background-color: white;
    height: 30px;
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 30px auto 15px auto;
    grid-gap: 15px;
}


.square {
    background: white;
    min-height: 120px;
    min-width: 120px;
    border-radius: 15px;
}

.selected {
    background-color: blue;
}